{
  BasedOnStyle: LLVM,
  AccessModifierOffset: -4,
  AlignAfterOpenBracket: AlwaysBreak,
  AlignArrayOfStructures: Left,
  AlignOperands: AlignAfterOperator,
  AllowAllArgumentsOnNextLine: false,
  AllowShortBlocksOnASingleLine: Always,
  AllowShortFunctionsOnASingleLine: Inline,
  AllowShortIfStatementsOnASingleLine: false,
  AllowShortLambdasOnASingleLine: All,
  BinPackArguments: false,
  BinPackParameters: false,
  BreakBeforeBraces: Allman,
  BreakBeforeTernaryOperators: true,
  ColumnLimit: 100,
  FixNamespaceComments: false,
  IndentCaseLabels: false,
  IndentPPDirectives: AfterHash,
  IndentWidth: 4,
  IndentWrappedFunctionNames: true,
  MaxEmptyLinesToKeep: 2,
  NamespaceIndentation: All,
  PackConstructorInitializers: Never,
  PointerAlignment: Left,
  ReferenceAlignment: Left,
  SeparateDefinitionBlocks: Always,
  SortIncludes: CaseInsensitive,
  SortUsingDeclarations: true,
  TabWidth: 4,
  UseTab: Never,
}
