# Build directories
/build/
/extern/

# Downloaded files during build
/data/models/
/data/tests/images/

# Application
/install_x86_64_linux/

# Results
/results/

# Ignore Properties
/.vscode/c_cpp_properties.json